<div class="product box">
  <div class="box-inner">
    <%= image_tag product.image %>
    <div class="product-name">
      <div class="vert-center">
        <%= product.name %>
      </div>
    </div>
    <div class="title-box">
      <div class="title-container vert-center">
        Want?
      </div>
    </div>
  </div>
</div>