<div class="wrap">

  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/7.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box">
        <div class="title-container vert-center">
          Want?
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/1.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box">
        <div class="title-container vert-center">
          Want?
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/2.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/3.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/10.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/4.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/5.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/6.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/8.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/9.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/11.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
  <div class="box">
    <div class="box-inner">
      <img src="http://www.dwuser.com/education/content/creating-responsive-tiled-layout-with-pure-css/images/demo/12.jpg" />
      <div class="product-name">
        <div class="vert-center">
          product name
        </div>
      </div>
      <div class="title-box"> 
        <div class="title-container vert-center">
          Want?
        </div>
      </div> 
    </div>
  </div>
 
</div>